
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.dashboardcardtopdiv{
    /* background-color: aqua; */
}
.dashboardcardtopone{
    /* border-top: 3px solid orangered; */
    /* background-color: yellow; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px 30px;

    width: 290px;
    margin-bottom:20px ;
}
.dashboardcardtoponesmalltext{
    font-family:Rubik;
    font-weight: 500;
    color: #5B5B5B;
}
.dashboardcardtoponebigtext{
    font-family:Rubik;
    font-weight: 600;
    color: #5B5B5B;
    font-size: 35px;
    /* background-color: aqua; */
    line-height: 1px;
    
}
.allsmallcardtopdashboard{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dashboardtotalusermaindiv{
    background-color: aqua;

}

