
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.dashboardcardtopdiv{
    width: 100%;
    /* background-color: aqua; */
}
.dashboardcardtopone{
   
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 30px 30px;

   width: 100%;
    margin-bottom:20px ;
}
.dashboardcardtoponesmalltext{
    font-family:Rubik;
    font-weight: 500;
    /* background-color: brown; */
    
    color: #5B5B5B;
}
.dashboardcardtoponebigtext{
    font-family:Rubik;
    font-weight: 600;
    color: #5B5B5B;
    font-size: 35px;
    /* background-color: aqua; */
    line-height: 20px;
    
}
.allsmallcardtopdashboard{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dashboardtotalusermaindiv{
    /* background-color: aqua; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 30px 30px;
    width: 100%;

}
.dashboardtotaluseronebigtext{
    font-family:Rubik;
    font-weight: 600;
    color: #5B5B5B;
    font-size: 25px;
    /* padding-bottom: 20px; */
    padding-top: 20px;
    /* background-color: aqua; */
    
    /* border-bottom: 2px solid gray; */

}

.overviewtotalone{
    font-family:Rubik;
    font-weight: 600;
    color: #5B5B5B;
    font-size: 20px;
    /* background-color: aqua; */
    line-height: 24px;
}
.overviewdivone{
    /* background-color: blue; */
    width: 100%;
    margin: 20px 0px;
}
.topchartbar{
    padding:10px 20px;
    /* background-color: aqua; */
    /* padding-top: 40px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.dashboardchartlinebelogings{
    /* background-color: lightblue; */
    display: flex;
    
}
.dashboardchartlinebelogingsone{
    font-family: Rubik;
    color: #5B5B5B;
    font-size: 15px;
    position: relative;
    /* background-color: blueviolet; */
    padding: 20px;
}
.dashboardchartlinebelogingsonespan{
    width: 10px;
    bottom: 27px;
    
    left: 7px;
    height: 10px;
    /* padding: 3px; */
    font-size: 7px;
    color: transparent;
    border-radius: 20px;
    position: absolute;
    /* height: 20px; */
    /* background-color: #6100B3; */
}
.linechartmaindiv{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.linechartdiv{
    /* background-color: blue; */
    padding: 0px 10px;
}
.topheaderdashboardbox{
    width: 250px;
    margin-right: 20px;
    display: flex;
    /* background-color: yellow; */
    align-items: center;
    justify-content: space-evenly;
}

.topheaderdashboardmainbox{
    /* background-color: #6100B3; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.dropdowndashoboardmaindiv{
background-color: aqua;
}

/* .apexcharts-canvas,
.apexcharts-canvas svg,
.apexcharts-canvas svg .apexcharts-grid,
.apexcharts-canvas svg rect,
.apexcharts-canvas .apexcharts-gridlines-horizontal {
    width: 100% !important;
    min-width: 100% !important;
}
line{
    width: 100%;
} */

/* .graphimgtopboxes{
    display:'flex' ;
    margin:'0 auto';
    justify-content:'center' ;
      background-color: #6100B3;
} */
.accordion-button{
    font-family: Rubik;
    padding: 8px 5px !important;
font-size: 13px !important;
}
/* .accordianlinkssvgs{
    margin-right: 10px;
} */
.accordianlinkstop{

    padding: 5px;
    font-size: 13px !important;
    font-family: Rubik;
    /* margin: 5px; */
    /* background-color: orangered; */
    color: #5B5B5B;
    text-decoration: none;
}
.accordianlinks{
    padding: 5px;
    font-size: 13px !important;
    font-family: Rubik;
    margin: 5px;
    /* background-color: orangered; */
    color: #5B5B5B;
    text-decoration: none;
}
.acccordiannavigation{
    /* background-color: aqua; */
}
.draweradmin{
    position: absolute;
}


@media only screen and (max-width: 1000px) {

.graphimgtopboxes{
    
}
/* .dashboardcardtopone{} */

.dashboardcardtoponebigtext{
    font-size: 20px;
}
.dashboardcardtopone{
    /* font-size: 20px; */
    /* border-top: 3px solid orangered; */
    /* background-color: yellow; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px 10px;

    /* width: 70%; */
    margin-bottom:20px ;
}
.dashboardtotalusermaindiv{
    /* background-color: aqua; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px 30px;
    /* width: 80%; */
    /* margin:  0  auto; */

}

}