


.loginmaindiv{
    height: 100vh;
    background-image: url('./components/images/loginbackground.avif');
    background-size: cover;
    background-repeat: repeat;
}
.logindivouter{
    padding-top: 180px;
}
.logindiv{
    background-color: white;
    width: 40%;
    margin: 0 auto;
   
    /* margin-top: 200px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 40px;
    /* padding-top: 100px; */
    /* padding-bottom: 100px; */
}
.loginheading{
    font-family: Rubik;
    font-size: 30px;
    font-weight: 500;
    /* margin-bottom:50px ; */
}










@media only screen and (max-width: 500px) {
    .logindiv{
        /* background-color: aquamarine; */
        width: 90%;
        margin: 0 auto;
        margin-top: 200px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 40px;
        /* padding-top: 200px; */
    }
}